<html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/header/style.css">
</head>
<body>
    <div class="header-background">
        <h1 class="header-title">Das Klima Europas im Wandel</h1>
        <div class="header-buttonspace">
            <button class="header-button">Übersicht</button>
            <button class="header-button">Frage 1</button>
            <button class="header-button">Frage 2</button>
            <button class="header-button">Frage 3</button>
            <div style="width: 100px;"></div>
        </div>
    </div>
</body>
</html>