.header-background{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    display: grid;
    grid-template-rows: auto auto;
    padding: 5px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

.header-title{
    color: rgb(255, 255, 255);
    padding: 10px;
}

.header-buttonspace{
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-column-gap: 10px;
}

.header-button{
    padding: 5px;
    border-color: white;
    border-radius: 20px;
    color: white;
    transition: 0.2s;
    width: 60px;
    background-color: black;
    border-style: solid;
}

.header-button:hover{
    border-color: black;
    color: black;
    background-color: white;
}