<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/frage3-stat/style.css">
    <title>Document</title>
</head>
<body>
    <h2>Mittlerer Temperaturanstieg</h2>
    <div class="stat-q3-main">
        <div><h3>Referenzperiode:</h3><img src="/assets/images/rainTableNow.svg" class="img" style="margin-top: 25px;"></div>
        <div><h3>RCP 8.5 (Keine Klimaschutzmaßnahmen):</h3><img src="/assets/images/tempTableNoChange.svg" class="img" style="margin-top: 25px;"></div>
        <div><h3>RCP 2.6 (Stabilisierende CO2-Konzentration):</h3><img src="/assets/images/RainTableStable.svg" class="img"></div>
    </div>
    <h2 style="margin-top: 50px;">Mittlerer Niederschlaganstieg:</h2>
    <div class="stat-q3-main">
        <div><h3>Referenzperiode:</h3><img src="/assets/images/tempTableNow.svg" class="img" style="margin-top: 25px;"></div>
        <div><h3>RCP 8.5 (Keine Klimaschutzmaßnahmen):</h3><img src="/assets/images/tempTableNoChange.svg"class="img" style="margin-top: 25px;" ></div>
        <div><h3>RCP 2.6 (Stabilisierende CO2-Konzentration): </h3><img src="/assets/images/tempTableStable.svg"class="img"></div>
    </div>
    <h3>Quelle: <a href="https://klimainformationssystem.bayern.de/klimatool/klima-der-zukunft" style="color: white;">Klimainformationssystem Bayern - Klimatool der Zukunft (aufgerufen am 09.07.2024 um 12:00)</a></h3>
</body>
</html>