<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/frage2/style.css">
    <title>Document</title>
</head>
<body>
    <div class="txt q2-sort-txt-img">
        <div style="padding-top: 20px;">
            <div><img src="/assets/images/q2-jahrestemperaturveraenderungen.png" style="max-width: 800px;" class="img"></div><p></p>
            <h3 class="txt">Quelle Bild und Text: <a href="https://klimainformationssystem.bayern.de/klimatool/klimatool-der-vergangenheit " class="txt">Klimainformationsystem Bayern aufgerufen am 09.07.2024 um 11:00</a></h3>
        </div>
        <div style="max-width: 500px;"><h2>Grundlegende Temperaturveränderungen</h2><p></p>
            <h3>Die globale Erwärmung schreitet immer weiter voran – da ist es nicht verwunderlich, dass auch die Stadt und der Landkreis Passau davon betroffen sind. Doch um wie viel Grad Celsius steigt die Temperatur in diesem Gebiet und welcher Bereich ist am stärksten betroffen? <p>Generell ist die südliche und der westliche Landkreis Passau am wärmsten. Dies war sowohl im Referenzzeitraum 1971-2000, als auch im Jahr 2019 der Fall. In letzterem lag die Mittlere Jahrestemperatur dieses Bereiches bei 10 Grad Celsius. Von diesen Werten ausgenommen sind Ausnahmen wie z.B. der Landkreis Kößlarn. In diesem betrug die Mittlere Jahrestemperatur 8 Grad Celsius.</p> 
                Betrachtet man jedoch den Anstieg der Mittleren Jahrestemperatur vom Referenzzeitraum zum Jahr 2019, fällt auf, dass der nördliche und östliche Landkreis Passau am stärksten ansteigt. Dort beträgt der Anstieg fast überall 2 Grad Celsius. <p></p> 
                Die Stadt Passau verzeichnet ebenfalls einen Anstieg um 2 Grad Celsius. Während zwischen 1971 und 2000 die mittlere Jahrestemperatur noch 8 Grad Celsius betrug, lag sie 2019 schon bei 10 Grad Celsius.</h3>
        </div>
        <div style="max-width: 500px;"><h2>Grundlegende Niederschlagsveränderungen</h2><p></p>
            <h3>Ein weiterer Aspekt, den der Klimawandel verändert, ist der Jahresniederschlag. Auch in diesem Fall werden die Daten aus der Referenzperiode (1971-2000) und dem Jahr 2019 verglichen. Analog zu den Daten der mittleren Jahrestemperatur, werden auch beim Niederschlag die Stadt und der Landkreis Passau betrachtet. <p>
                Im Bereich des Jahresniederschlags führt im Referenzzeitraum der östliche Landkreis Passau. Hierbei kommen Landkreise wie Sonnen oder Wegscheid auf einen Jahresniederschlag von insgesamt 1200mm. Dabei wird die Höhe Wassermenge betrachtet. Landkreise wie Hauzenberg, Untergriesbach oder Obernzell kommen auf einen Jahresniederschlag von 1000mm. Der Rest des Landkreises Passau (Ausnahme: Fürstenstein, Tittling), sowie die Stadt Passau selbst verzeichnen einen Jahresniederschlag von 800mm. </p>
                
                Im Jahr 2019 verzeichnet der Großteil der Landkreise einen Rückgang von 200mm. Die Stadt Passau kann ebenso einen Rückgang von 200mm vermelden und weist nun einen Jahresniederschlag von 600mm auf. <p>
                
                Vergleicht man 2019 mit der Referenzperiode 1971-2000, so lässt sich feststellen, dass ein Großteil der Landkreise Passau und die Stadt Passau selbst einen Rückgang des Jahresniederschlags um 10% vermelden. Vier südliche Landkreise von Passau (Neuburg am Inn, Ruhstorf an der Rott, Neuhaus am Inn, Pocking), zwei nördliche Landkreise (Fürstenstein, Tittling), sowie Wegscheid kommen insgesamt auf kaum eine nennenswerte Veränderung im Jahresniederschlag. Aidenbach und Aldersbach, im Westen Passaus, vermelden einen Rückgang um 20%.  </p>
                
                Die kaum messbaren Veränderungen im Bereich des Bayerischen Walds (im Nordosten der Stadt Passau), lassen sich durch den Wald erklären, da Wälder eine höhere Verdunstung als Äcker oder Wiesen haben.</h3>
        </div>
        <div style="padding-top: 100px;">
            <div><img src="/assets/images/q2-jahresniederschlag.png" style="max-width: 800px;" class="img"></div><p><h3>Quelle Bild: <a href="https://klimainformationssystem.bayern.de/klimatool/klimatool-der-vergangenheit" class="txt">Klimainformationsystem Bayern aufgerufen am 09.07.2024 um 11:20</a></h3></p><h3>Textquelle 1: <a href="https://klimainformationssystem.bayern.de/klimatool/klimatool-der-vergangenheit" class="txt">Klimainformationssystem Bayern aufgerufen am 09.07.2024 um 11:20</a><p>
                Textquelle 2: <a href="https://www.ardalpha.de/wissen/natur/pflanzen/regen-wald-klima-klimawandel-klima-wasserkreislauf-100.html" class="txt">Ardalpha</a>
            </p></h3>
        </div>
    </div>
</body>
</html>